<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label><input type="text" 
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoCliente(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Cliente
    </button>
  </div>
</div>

<!-- <h4>filtro: {{filtroLista}}</h4> -->

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>E-mail</th>
    <th colspan="2" class="text-center">Opções</th>
  </tr>
</thead>
<tbody *ngIf="clientesFiltrados && clientesFiltrados.length">
  <tr *ngFor="let cliente of clientesFiltrados | paginate: { itemsPerPage: contador, currentPage: pag, totalItems: clientesFiltrados.length}">
    <td>{{cliente.id}}</td>
    <td>{{cliente.nome}}</td>
    <td>{{cliente.telefone}}</td>
    <td>{{cliente.endereco}}</td>
    <td>{{cliente.email}}</td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-success" 
          tooltip="Editar" (click)="editarCliente(cliente, template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" 
          tooltip="Excluir" (click)="deletarCliente(cliente, confirm)">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
</tr>
</tbody>
<tfoot *ngIf="!clientesFiltrados"> 
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum cliente encontrado!
      </h4>
    </td>
  </tr>
</tfoot>
</table>
<div class="text-left" *ngIf="clientesFiltrados">
  <label class="mr-2">Total: {{clientesFiltrados.length}}</label>
</div>
<div class="text-right">
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
  nextLabel="Próximo"></pagination-controls>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cliente Dados</h4>
      <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Nome:</label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': submitted && f.nome.errors}"
            formControlName="nome" placeholder="Preencha o nome">
            <div *ngIf="f.nome.errors?.required && submitted" class="invalid-feedback">
              Nome é obrigatório.
            </div>
            <div *ngIf="f.nome.errors?.minlength && submitted" class="invalid-feedback">
              Nome deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="f.nome.errors?.maxlength && submitted" class="invalid-feedback">
              Nome deve ter no máximo 150 caracteres.
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Telefone:</label>
            <input type="text" class="form-control" mask="(00) 00000-0000" 
            [ngClass]="{'is-invalid': submitted && f.telefone.errors}"
            formControlName="telefone" placeholder="Preencha o telefone">
            <div *ngIf="f.telefone.errors?.required && submitted" class="invalid-feedback">
              Telefone é obrigatório.
            </div>
          </div>
          <div class="form-group col-md-8">
            <label>Endereço:</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.endereco.errors}"
            formControlName="endereco" placeholder="Preencha o endereço">
            <div *ngIf="f.endereco.errors?.required && submitted" class="invalid-feedback">
              Endereço é obrigatório.
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Email:</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.email.errors}"
            formControlName="email" placeholder="Preencha o e-mail">
            <div *ngIf="f.email.errors?.email && submitted" class="invalid-feedback">
              E-mail inválido.
            </div>
            <div *ngIf="f.email.errors?.required && submitted" class="invalid-feedback">
              E-mail é obrigatório.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="template.hide()">
        Fechar
      </button>
      <button class="btn btn-primary ml-auto" (click)="salvarAlteracao(template)">
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Excluindo Cliente
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarCliente}}</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          EXCLUIR
        </button>
      </div>
    </div>
  </div>
</div>